
.summary-page {
    .summary-trip-name {
        width: 100%;
        text-align: center;
        color: #235661;
        font-family: 'Dancing Script', cursive;
        p {
            font-size: 2.2em;
            margin: 10px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .summary-region {
        width: 100%;
        text-align: center;

        p {
            font-size: 1.0em;
            font-weight: bold;
            margin: 10px;
        }
    }

    .total-spend {
        width: 100%;
        margin: 0;

        div {
            color:#468391;
            position: relative;
            left: 5%;
            width: 90%;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(164, 216, 208, 0.7);
        }
    }

    .summary-map-holder {
        height: 40vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 2;

        .summary-map {
            height: 100%;
            width: 100%;
        }
    }

    .timeline {
        position: relative;
        margin: 20px 0 30px;

        .toggle-timeline{
            text-align: center;
            font-size: 1.2em;
            color: #2b616d;
        }

        .timeline-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 8px 0 8px 50px;
            color: #2b616d;
        }

        &::after {
            content: '';
            position: absolute;
            background-color: #94c8c0;
            width: 6px;
            top: 0;
            bottom: 0;
            left: 25px;
            margin-left: -3px;
        }

        .timeline-item {
            width: 100%;
            padding-left: 50px;
            position: relative;

            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 21px;
                width: 0;
                z-index: 1;

                left: 32px;
                border: medium solid white;
                border-width: 14px 14px 14px ;
                border-color: transparent #2b616d transparent transparent;
            }

            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: #fa8d62;
                border: 4px solid #fa8d62;
                top: 22px;
                border-radius: 50%;
                z-index: 1;
                left: 12px;
            }

            .timeline-item-content {
                margin: 10px 15px 10px 10px;
                padding: 10px 15px 2px;
                color: white;
                border-radius: 20px;
                background-color: #2b616d;

                .timeline-item-name, .timeline-item-date {
                    display: inline-block;
                    width: 50%;
                    font-weight: bold;
                    margin-bottom: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }

                .timeline-item-name {
                    text-align: left;
                    font-size: 1em;

                    .fa-images {
                        color: #fa8d62;
                    }

                    .fa-images:hover, .fa-images:active {
                        font-size: 1.5em;
                    }
                }

                .timeline-item-date {
                    text-align: right;
                    font-size: 0.9em;
                }

                .timeline-item-text {
                    text-transform: capitalize;
                    word-wrap: break-word;
                }
            }
        }

        .timeline-inner{
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 0.7s ease-in-out;
        }
    }

    .last-entry {
        .entry-content {
            img {
                width: 100%;
            }

            p {
                margin: 10px 10px;
                text-align: center;
            }
        }
    }

    .share-btns {
        display: flex;
        justify-content: center;
        align-content: center;

        &>a>i {
            margin: 10px 10px;
            font-size: 3em;
            color: #7eb9b0;
            vertical-align: center;

            &:hover {
                color: #417681;
            }
        }


    }

    .summary-end-trip-link {
        width: 100%;

        button {
            height: 60px;
            width: 90%;
            position: relative;
            left:5%;
            background-color: #fa8d62;
            color: white;
            border-radius: 15px;
            transition: 0.5s;
            font-size: 1.5em;
            font-weight: bold;
        }

        button:hover {
            background-color: #ea7d52;
        }
    }

    .popup-container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: 0.5s;

    .popup-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;


        .summary-image-modal{
            width: 100%;
            background-color: rgba(164, 216, 208, 0.95);
            border-radius: 15px;

            .close-popup {
                color: white;
                padding-top: 2px;
            }

            .image-box {
                padding: 15px;

                img {
                    width: 100%;
                    // border-radius: 15px;
                }
            }

            .map {
                height: 90vh;
            }
        }
    }
    }

}



.summary-fail-page {
    .summary-fail-title {
        width: 100%;
        text-align: center;
        p{
            font-size: 1.8em;
            margin: 10px;
            font-weight: bold;
        }
        .summary-fail-image {
            width: 100%;

            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .summary-fail-text {
            width: 100%;
            text-align: center;

            p{
                font-size: 1.2em;
                margin: 10px;
            }
        }
    }
}
