.about-container {

    display: flex;
    flex-wrap: wrap;

    .personImage {
        width: 500px;
    }

    .aboutPerson {
        width: 50%;
    }

    .aboutPerson:nth-child(even) {
        right: 0;
    }
}