.notes-page {
    height: 90vh;

    .notes-input-toggle {
        cursor: pointer;
        font-size: 1.2em;
        background-color: #fa8d62;
        height: 50px;
        text-align: right;
        color: white;
        padding: 10px 15px;

        .spinner-border {
            margin: 5px;
        }

        .fa-angle-double-down:hover {
            cursor: pointer;
            position: relative;
            top: 5px;
        }
    }

    .note-input-form {
        height: 0;
        transition: 0.5s;
        overflow-y: hidden;
        background-color: #b2dbd5;
        border-radius: 10px;

        .image-inputbox {
            & > div {
                display: inline-block;
            }

            input {
                margin: 10px;
            }
        }
    }

    .notes-input {
        padding: 0 15px;

        textarea {
            border: 1px solid transparent;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 5px;
            word-wrap: break-word;
            color: #2b616d;
        }
    }

    .add-notes {
        margin: 10px;
        position: relative;
        float: right;
        background-color: #fa8d62;
        border: none;
        color: white;
    }

    .notes-box {
        color: white;

        .default-display {
            cursor: pointer;
        }

        .notes {
            font-size: 1.2em;
            margin: 0 5px 5px 5px;
            border-radius: 10px;
            padding: 10px 15px;
            transition: 0.5s;
            word-wrap: break-word;

            &:nth-child(odd) {
                background-color:  #2b616d;
            }

            &:nth-child(even) {
                background-color: #3b717e;
            }

            &:hover, &:active {
                background-color: #1b515d;
            }

            p:first-child {
                font-size: 0.8em;
                text-align: right;
            }

            .note-img {
                img {
                    width: 100%;
                }
            }

            .note-icon {
                color: #b2dbd5;
                transition: 0.2s;
                margin: 0 15px 0 0;
                padding: 0;
                cursor: pointer;

                &:hover, &:active {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sort-note {
        text-align: right;

        .sort-btn {
            background-color: #b2dbd5;
            border-radius: 10px;
            height: 40px;
            width: 50px;
            color: white;
            margin: 4px 5px;
            transition: .3s;
            line-height: 100%;
            text-align: center;
            font-size: 0.6em;
            i {
                font-size: 1.3em;
            }

            i:nth-child(2) {
                margin-left: 2px;
                font-size: 1em;
            }
        }
    }

    .update-modal {
        background-color: rgba(164, 216, 208, .98);
        border-radius: 10px;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        color: #2b616d;
        overflow-y: hidden;

        .map-modal-header {
            padding-top: 15px;
        }

        form {
            background-color: transparent;
            p {
                text-align: left;
                font-size: 0.8em
            }
        }

        .updatebutton {
            color: white;
            background-color: #2b616d;
            width: 40%;
            margin: 0 0 20px 0;

            &:hover {
                background-color: #1b515d;
            }
        }
    }

    main {
        display: none;
    }
}

@media (min-width: 1024px) {
    .notes-page {
        width: 100vw;

        .note-section {
            width: 40%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
            overflow-y: scroll;
        }

        .popup-container .popup-content {
            .update-modal, .map-modal {
                width: 30%;
            }
            .map-modal {
                position: relative;
                left: 58%;
            }
        }

        main {
            width: 60%;
            display: inline-block;

            .search-bar-holder {
                width: 90%;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 5%;
                margin: 0;
                z-index: 1;
            }

            .map {
                width: 60%;
            }

            .geo-btn {
                left: 45%;
            }

            .delete-pin {
                left: 65%;
                transform: none;
            }
        }
    }
}
