
.notes-page{
    width: 100%;
    height: 90%;

    .notes-input-toggle{
        cursor: pointer;
        font-size: 1.2em;
        background-color: #fa8d62;
        width: 100%;
        height: 50px;
        text-align: right;
        color: white;
        padding: 10px 15px;


        .fa-angle-double-down:hover{
            position: relative;
            top: 5px;
        }
    }

    .note-input-form, .notes{
        -webkit-box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);
        box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);
    }

    .note-input-form{
        height: 0;
        transition: 0.5s;
        overflow-y: hidden;
        background-color: #b2dbd5;
        border-radius: 15px;
        margin: 10px;

        input{
            margin: 10px;
            width: 60%;
        }
    }

    .notes-input{
        padding: 0 15px;
        box-sizing: border-box;

        textarea{
            outline: none;
            border: 1px solid transparent;
            background-color: #c4e4df;
            border-radius: 15px;
            padding: 5px;
            word-wrap: break-word;
            color:#2b616d;
        }


    }

    .add-notes{
        margin: 10px;
        position: relative;
        float: right;
        background-color: #fa8d62;
        border: none;
        color:white;
    }

    .notes-box{
        color: white;

        .notes{
            font-size: 1.2em;
            margin: 5px;
            border-radius: 15px;
            padding: 10px 15px;
            transition: 0.5s;
            word-wrap: break-word;

            &:nth-child(odd){
                background-color:  #2b616d;
            }

            .notes {
                font-size: 1.2em;
                margin: 5px;
                border-radius: 15px;
                padding: 10px 15px;
                transition: 0.5s;
                word-wrap: break-word;

                &:nth-child(odd) {
                    background-color:  #2b616d;
                }

                &:nth-child(even) {
                    background-color: #3b717e;
                }

                &:hover, &:active {
                    background-color: #1b515d;
                }

                p:first-child {
                    font-size: 0.8em;
                    text-align: right;
                }

                .note-img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .btn{
                    position: relative;
                    color: #b2dbd5;
                    transition: 0.2s;

                    &:hover, &:active{
                        transform: rotate(180deg);
                    }
                }
            }

            &:hover, &:active{
                background-color: #1b515d;
            }

            p:first-child{
                font-size: 0.8em;
                text-align: right;
            }

            .note-img{
                width: 100%;

                img{
                    width: 100%;
                }
            }

            .btn{
                position: relative;
                right:0;
                color: #b2dbd5;
                transition: 0.2s;

                &:hover, &:active{
                    transform: rotate(180deg);
                 }
            }
        }
    }

    .update-modal{
        background-color: #a4d8d0;
        border-radius: 15px;
        text-align: center;
        font-size: 1em;
        color: white;

        height: 100%;
        overflow-y: hidden;
        .map-modal-header{
            padding-top: 15px;
        }

        .description-input{
            margin: 10px;

            &>input{
              border: 1px solid transparent;
              outline: none;
              background-color:rgba(255, 255, 255, 0.5);
              width: 60%;
              border-radius: 5px;
              color:#2b616d;
            }

        }

        .updatebutton{
            color: white;
            background-color: #fa8d62;
            width: 60%;

            &:hover{
                background-color: #e26a3b;
            }
        }
    }
}

@media (min-width: 1025px) {
    .notes-page {
        width: 100%;

        .notes-form {
            width: 40%;
            height: 100%;
            overflow-y: scroll;
        }

        .notes-box {
            .notes {
                .popup-container {
                    .popup-content {
                        left: 15%;

                        .popup-children {
                            width: 75%;

                            form {
                                height: 50%;

                                div {
                                    height: 100%;

                                    textarea {
                                        height: 100%;
                                        margin: 0;
                                    }
                                }
                            }

                            .updatebutton {
                                width: 100px;
                                background-color: black;
                                margin: 10px 0 0 0;
                            }
                        }
                    }
                }
            }
        }

        main {
            height: 90vh;
            width: 60%;
            left: 40%;
            position: absolute;
            top: 10vh;

            .search-bar-holder {
                width: 90%;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 5%;
                margin: 0;
                z-index: 1;
            }

            .map {
                top: 0;
                width: 100%;
            }

            .map-btn {
                height: 5%;
                z-index: 1;
                position: absolute;
                bottom: 5%;
                padding: 0 15px 0 15px;
            }

            .geo-btn {
                position: absolute;
            }
        }
    }
}

@media (max-width: 1024px) {
    .my-trip-page {
        .notes-page {
            main {
                display: none;
            }
        }
    }
}
