
.notes-page{

    .notes-input-toggle{
        font-size: 1.2em;
        background-color: #f7d5c7;
        width: 100%;
        text-align: center;
    }
    
    .notes-input{
        background-color: #b2dbd5;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        

        input{
            width: 100%;
            outline: none;
            border: none;
            background-color: inherit;
        }

    }
    
    .add-notes{
        margin: 5px;
        position: relative;
        left: 80%;
        background-color: #f7d5c7;
        border: none;
        color:#2b616d;
    }

    .notes-box{
       

        .notes{
            font-size: 1.2em;
            .notes-img{
                width: 100%;
                
                img{
                    width: 100px;

                }
            }
            .notes-item{
                padding: 15px;
                width: 100%;
                background-image: url("https://media.allure.com/photos/5bf1b1502ab5072a91e1853a/3:2/w_3432,h_2288,c_limit/   travel%20editor%20favorite%20products.jpg");
                background-size: cover;
                margin-top: 15px;

                p{
                    background-color: rgba(255,255,255,0.5)
                }
            }
        }
    } 
}


