html, body {
    background: mintcream;  /* fallback for old browsers */
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    cursor: default;
}

.btn {
    box-shadow: none !important;
}