html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: white;  /* fallback for old browsers */
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

.btn {
    box-shadow: none !important;
}

button{
    font-family: 'Nunito', sans-serif;
}