.home-page {
    height: 90vh;
    background-image: url('../../assets/images/homepage-background2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    h4, div.home-page-btn {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 80%;
        color: white;
        text-align: center;
    }

    h4 {
        font-family: 'Dancing Script', cursive;
        font-size: 2.5em;
    }

    .title-blurb1 {
        top: 20%;
    }

    .title-blurb3 {
        top: 27.5%;
    }

    .title-blurb2 {
        top: 35%;
    }

    .guest-btn {
        bottom: 100px;
    }

    .sign-in-btn {
        bottom: 10px;
    }

    .home-page-btn {
        width: 80%;
        padding: 0;

        .btn {
            background-color: rgba(164, 216, 208, .7);
            margin: 15px 0;
            width: 100%;
            height: 70px;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.5em;
            color: white;

            &:hover, &:active {
                background-color: rgba(164, 216, 208, .7);
            }
        }
    }

    .home-modal {
        background-color: rgba(164, 216, 208, .9);
        border-radius: 15px;
        text-align: center;
        font-size: 1.5em;
        color: white;
        -webkit-box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);
        -moz-box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);
        box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);

        .homepage-modal-header {
            padding-top: 15px;
        }

        form {
            p {
                font-size: 0.7em;
                color: rgb(151, 3, 3);
            }
        }

        .start-input {
            margin: 10px;

            & > input {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid transparent;
                outline: none;
                width: 85%;
                border-radius: 5px;
                color: #2b616d;

                &::placeholder {
                    color: rgba(43, 97, 109, 0.6);
                    font-size: 0.7em;
                }
            }
        }

        .start-trip-btn {
            color: white;
            background-color: rgba(250, 141, 98, .9);
            width: 60%;
            margin: 0 0 10px 0;

            &:hover {
                background-color: #E26A3B;
            }
        }
    }
}

@media (min-width: 1024px) {
    .home-page .home-page-btn .btn {
        width: 40%;
    }

    .home-page .popup-content {
        position: relative;
        left: 30%;
        width: 40%;
    }
}

