.home-page {
    height: 90vh;   
    background-image: url('../../assets/images/coconut.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position-x: 15%;

    .landing {
        height: 100%;
    }

    .title-blurb1, .title-blurb2 {
        width: 100%;
        top: 20%;
        color: white;
        font-size: 3.5rem;
        text-align: center;
    }

    .title-blurb1, .title-blurb2, .home-page-btn {
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
    }

    .title-blurb2 {
        top: 27%;
    }

    .home-page-btn {
        top: 80%;
    }

    .home-modal{
        background-color: #2b616d;
        text-align: center;
        font-size: 1.5em;

        .start-input{
            margin: 10px;
            width: 100%;
            border: none;
        }

        .start-trip-btn{
            background-color: #f7d5c7;
        }
    }

    .preContainer {
    }

    .preTrip, .currentTrip, .postTrip {
        position: absolute;
        height: 50vh;
        width: 100%;
    }

    .preTrip {
        background: hotpink;
        top: 100%;
    }

    .currentTrip {
        background: limegreen;
        top: 150%;
    }

    .postTrip {
        background: lavender;
        top: 200%;
    }
}
