.home-page {
    height: 90vh;   
    background-image: url('../../assets/images/coconut.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position-x: 15%;
    overflow-x: hidden;
    overflow-y: scroll; 

    section {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .landing {
        height: 100%;
    }

    .title-blurb1, .title-blurb2 {
        width: 100%;
        top: 20%;
        color: white;
        font-size: 3.5rem;
        text-align: center;
    }

    .title-blurb1, .title-blurb2, .home-page-btn {
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
    }

    .title-blurb2 {
        top: 27%;
    }

    .home-page-btn {
        top: 80%;
    }

    .home-modal{
        background-color: #2b616d;
        text-align: center;
        font-size: 1.5em;

        .start-input{
            margin: 10px;
            width: 100%;
            border: none;
        }

        .start-trip-btn{
            background-color: #f7d5c7;
        }
    }
    
    .parallax::after {
        position: absolute;
        background-size: 100%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .static {
        background-color: red;
    }

    .preTrip {
        background-color: hotpink;
    }

    .currentTrip {
        background-color: limegreen;
    }

    .postTrip {
        background-color: lavender;
    }

    .filler {
        background-color: transparent;
    }
}
