.sign-in-page {
    background-image: url("../../../assets/images/sign_in.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width:100%;
    height: 90vh;
    top: 10vh;

    .message {
        color: rgb(125, 0, 0);
        text-align: center;
        font-size: 1.2em;
    }

    .sign-in-form {
        background-color: rgba(178, 219, 213, 0.9);
        overflow-y: hidden;
        border-radius: 15px;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);
        box-shadow: 0px 0px 6px 0px rgba(194,194,194,1);

        .sign-in-title {
            margin: 5px auto;
            text-align: center;
            font-family: 'Dancing Script', cursive;
            font-size: 2em;
            color:#2b616d;
        }

        .signin-input {
            padding: 15px;

            input {
                width: 100%;
                outline: none;
                border: 1px solid transparent;
                background-color: inherit;
                border-bottom: 1px solid #94c9c1;
                color: #2b616d;
            }
        }

        .signin-btn {
            text-align: center;

            .signup-btn, button {
                background-color: #fa8d62;
                display: inline-block;
                margin: 5px;
                color: white;
            }

            .signup-btn {
                background-color: #2b616d;
                cursor: pointer;
            }

        }
    }

    
}

@media (min-width: 1025px) {
    .sign-in-page .sign-in-form {
        position: relative;
        left: 30%;
        width: 40%;
    }
}