.sign-in-page {
    background-image: url("../../../assets/images/sign_in.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 90vh;

    .message {
        color: rgb(125, 0, 0);
        text-align: center;
        font-size: 1.2em;
    }
    .sign-in {
        margin: 10vh 10px 0 10px;

        .sign-in-form {
            background-color: rgba(178, 219, 213, 0.98);
            overflow-y: hidden;
            border-radius: 0.3rem;
            margin: 10px;
            
            .sign-in-title {
                margin: 10px auto;
                margin-bottom: 1em;
                text-align: center;
                font-family: 'Dancing Script', cursive;
                font-size: 1.5em;
                color: #2b616d;
            }
    
            .signin-input {
                padding: 10px 15px;
    
                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid transparent;
                    background-color: inherit;
                    border-bottom: 1px solid #94c9c1;
                    color: #2b616d;
                }
            }
    
            .signin-btn {
                text-align: center;
                margin-bottom: 10px;
    
                .signup-btn, button {
                    background-color: #fa8d62;
                    display: inline-block;
                    margin: 5px;
                    color: white;
                }
    
                .signup-btn {
                    background-color: #2b616d;
                    cursor: pointer;
                }
            }
        }

    }
 
}

@media (min-width: 1024px) {
    .sign-in-page .sign-in-form {
        position: relative;
        left: 30%;
        width: 40%;
    }
}