.my-trip {
  div {
    button {
      height: 100px;
    }
  }

  .budget-link, .notes-link, .map-link {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;

    button {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #2b616d;
      color: white;
    }

    button:hover {
      background-color: #1b515d;
      color: white;
    }
  }

  .end-trip-link {
    position: fixed;
    bottom: 2%;
    width: 100%;
    height: 100px;

    button {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fa8d62;
      color: white;
      border: none;
    }

    button:hover {
      background-color: #ea7d52;
      color: white;
    }

  }
}