.signout-page {
    background-image: url("../../../assets/images/sign_out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    font-family: 'Dancing Script', cursive;

    h2 {
        position: relative;
        top: 20%;
        color:#FFFFFF;
    }
}

@media (max-width: 900px){
    .signout-page {
        background-position-x: 48%;
    }
}