main {
    .search-bar-holder {
        background-color: transparent;
        height: 36px;
        position: relative;
        top: 50%;

        .search-bar-form {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 10%;

            .search-bar-field {
                height: 100%;
                background-color: inherit;
                position: relative;

                input {
                    height: 100%;
                    width: 96%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: auto;
                    border-radius: 20px;
                    border: none;
                    padding-left: 10px;
                    z-index: 1;
                    outline: none;
                }
            }

            .search-bar-clear-button {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 2%;
                transform: translateY(-50%);
                background-color: transparent;
                border: none;

                i {
                    color: #94c8c0;
                }
            }
        }
    }

    .map {
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 10vh;
    }

    .map-btn {
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #94c8c0;
        color: white;
        transition: transform .1s ease-in-out;
    }

    .map-btn:active {
        background-color: #84b8b0;
        color: white;
        transform: translateX(-50%) scale(.9);
    }

    .map-btn:hover {
        background-color: #84b8b0;
        color: white;
    }

    .geo-btn {
        position: fixed;
        bottom: 5%;
        left: 10%;
        transform: translateX(-50%);
    }

    #infoWindow, p {
        margin: 0;
    }

    .map-modal{
        background-color: #a4d8d0;
        border-radius: 15px;
        text-align: center;
        font-size: 1.5em;
        color: white;
        -webkit-box-shadow: 0px 0px 34px -2px rgba(168,168,168,1);
        -moz-box-shadow: 0px 0px 34px -2px rgba(168,168,168,1);
        box-shadow: 0px 0px 34px -2px rgba(168,168,168,1);
        height: 100%;
        overflow-y: hidden;
        .map-modal-header{
            padding-top: 15px;
        }

        .description-input{
            margin: 10px;

            &>input{
              border: 1px solid transparent;
              outline: none;
              background-color:rgba(255, 255, 255, 0.5);
              width: 85%;
              border-radius: 5px;
              color:#2b616d;
            }

        }

        .modal-pin-btn{
            color: white;
            background-color: #fa8d62;
            width: 60%;

            &:hover{
                background-color: #e26a3b;
            }
        }

        .cancel-add-btn{
            color: white;
            background-color: #70a39c;
            width: 60%;
            margin: 5px 0;
        }
    }
}
