main {
    height: 90vh;

    .search-bar-holder {
        height: 36px;
        top: 6%;
        position: relative;
        left: 50%;
        width: 97%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .search-bar-form {
            height: 100%;

            .search-bar-field {
                height: 100%;

                input {
                    height: 100%;
                    width: 96%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 20px;
                    border: none;
                    padding-left: 10px;
                    outline: none;
                }
            }

            .search-bar-clear-button {
                position: absolute;
                top: 50%;
                right: 2%;
                transform: translateY(-50%);
                border: none;

                i {
                    color: #94c8c0;
                }
            }
        }
    }

    .map {
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 10vh;
    }

    .geo-btn {
        position: fixed;
        bottom: 5%;
        left: 10%;
        transform: translateX(-50%);
    }

    #infoWindow, p {
        margin: 0;
    }

    .map-modal {
        background-color: rgba(164, 216, 208, .9);
        border-radius: 15px;
        text-align: center;
        font-size: 1.5em;
        color: white;
        -webkit-box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);
        -moz-box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);
        box-shadow: 0 0 34px -2px rgba(168, 168, 168, 1);
        overflow-y: hidden;
        
        .map-modal-header {
            padding-top: 15px;
        }

        form {
            .error-input {
                font-size: 0.7em;
                color: rgb(151, 3, 3);
            }
        }

        .description-input {
            margin: 10px;

            & > input {
              border: 1px solid transparent;
              outline: none;
              background-color: rgba(255, 255, 255, 0.8);
              width: 85%;
              border-radius: 5px;
              color: #2b616d;

                &::placeholder {
                  color: rgba(43, 97, 109, 0.6);
                  font-size: 0.7em;
                }
            }
        }

        .modal-pin-btn {
            color: white;
            background-color: #fa8d62;
            width: 60%;
            margin-bottom: 10px;

            &:hover {
                background-color: #e26a3b;
            }
        }
    }
}

@media (min-width: 1025px){
    .popup-container .popup-content .map-modal {
        position: relative;
        left: 35%;
        width: 30%;
    }
}
