.map {
  height:90vh;
  

}  

.map-btn {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.geo-btn{
  position: fixed;
  bottom: 5%;
  left: 10%;
  transform: translateX(-50%);
}