.budget-page{

    .budget-input-toggle{
        cursor: pointer;
        font-size: 1.2em;
        background-color: #fa8d62;
        width: 100%;
        height: 50px;
        text-align: right;
        color: white;
        padding-right: 15px;

        .fa-angle-double-down:hover{
            position: relative;
            top: 5px;
        }

    }
    .budget-input-form{
        height: 0;
        transition: 0.5s;
        overflow-y: hidden;
    }

    .budget-input{
        background-color: #b2dbd5;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;

        &:hover, &:active{
            background-color: #c4e4df;
        }

        input{
            width: 100%;
            outline: none;
            border: 1px solid transparent;
            background-color: inherit;
            border-bottom: 1px solid #aadbd4;
        }

    }

    .add-budget{
        margin: 5px;
        position: relative;
        left: 80%;
        background-color: #fa8d62;
        border: none;
        color:white;
    }

    .budget-box{
        color: white;


        .budget{
            font-size: 1.2em;
            box-sizing: border-box;
            padding: 0 15px;
            margin: 5px;
            border-radius: 15px;
            transition: 0.5s;
            -webkit-box-shadow: 0px 0px 15px -5px rgba(213,224,223,1);
            -moz-box-shadow: 0px 0px 15px -5px rgba(213,224,223,1);
            box-shadow: 0px 0px 15px -5px rgba(213,224,223,1);

            &:nth-child(odd){
                background-color: #2b616d;
            }

            &:nth-child(even){
                background-color: #3b717e;
            }

            &:hover, &:active{
                background-color: #1b515d;
            }

            .budget-descrip, .budget-amount, .budget-item, .budget-delete{
                display: inline-block;
            }

            .budget-descrip{
                font-weight: 500;
                width: 75%;
            }

            .budget-amount{
                width: 25%;
                text-align: right;
            }
            .budget-item{
                color: #b2dbd5;
                width:90%;
            }

            .budget-delete{
                width: 10%;
                .btn{
                    color: #b2dbd5;
                    transition: 0.2s;

                    &:hover, &:active{
                       transform: rotate(180deg); 
                    }
                }
                  
            }

        }
    }
}
